@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #fff666;
  box-sizing: border-box;
  border-top: solid 26px #116584;
  border-bottom: solid 26px #116584;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #3e6e7f;
  color: #ffffff;
  border-radius: 30px 30px 220px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: "Georgia", cursive;
  animation-name: title;
  animation-duration: 1.5s;
  z-index: 5;
}
.Top h3 {
  margin-left: 75px;
  margin-top: 80px;
  font-size: 40px;
  width: 100px;
  line-height: 80px;
}
.Top h3 span {
  background-color: #DB0B56;
  font-size: 50px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 165px;
  height: 90px;
  left: 75%;
  top: 75%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: #749d9b;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 微軟正黑體;
  transition: 0.5s;
  z-index: 5;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff666;
}
@keyframes falling {
  0%,
    100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(0%, 0px);
  }
  100% {
    transform: translate(0%, 600%);
  }
}
.allbub [class*="bub"] {
  background-color: #fff;
  width: 5px;
  height: 30px;
  border-radius: 15px;
  animation: falling 3s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 6.2655125899%;
  top: 15.9448042768%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 7.964926346%;
  top: 7.7766189044%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 62.3680154391%;
  top: -3.9738698276%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 66.6732784712%;
  top: 0.3926987046%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 44.0615115017%;
  top: 47.856602417%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 64.5528026582%;
  top: 70.7072037497%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 77.1659148376%;
  top: 33.5624216123%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 11.2652785077%;
  top: -2.735763927%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 61.4094485054%;
  top: -7.3772289433%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 33.4268001858%;
  top: 22.6824297522%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 40.9753502649%;
  top: 57.86895311%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 54.1991573255%;
  top: -11.5576248363%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 18.0491057655%;
  top: -5.5300355297%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 56.6625812765%;
  top: 17.617973178%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 30.7929592059%;
  top: 63.6272859763%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 18.2538715005%;
  top: -4.1148175336%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 7.166144358%;
  top: 73.7934855496%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 69.2994890914%;
  top: -19.3082206518%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 2.6369188735%;
  top: 13.1889670155%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 89.7494482176%;
  top: 7.8863660543%;
  animation-delay: -2s;
}
.allbub .bub21 {
  position: absolute;
  left: 27.4477066475%;
  top: 15.9525846876%;
  animation-delay: -2.1s;
}
.allbub .bub22 {
  position: absolute;
  left: 80.574642841%;
  top: -13.2980296489%;
  animation-delay: -2.2s;
}
.allbub .bub23 {
  position: absolute;
  left: 18.0780596065%;
  top: -4.7984898763%;
  animation-delay: -2.3s;
}
.allbub .bub24 {
  position: absolute;
  left: 48.904637313%;
  top: 22.8789735172%;
  animation-delay: -2.4s;
}
.allbub .bub25 {
  position: absolute;
  left: 11.296650582%;
  top: 40.5235543669%;
  animation-delay: -2.5s;
}
.allbub .bub26 {
  position: absolute;
  left: 22.7006296711%;
  top: 38.8535518626%;
  animation-delay: -2.6s;
}
.allbub .bub27 {
  position: absolute;
  left: 97.0491201645%;
  top: 23.9097574952%;
  animation-delay: -2.7s;
}
.allbub .bub28 {
  position: absolute;
  left: 86.491412098%;
  top: -13.7510151509%;
  animation-delay: -2.8s;
}
.allbub .bub29 {
  position: absolute;
  left: 6.2013370898%;
  top: 68.172723378%;
  animation-delay: -2.9s;
}
.allbub .bub30 {
  position: absolute;
  left: 80.0252601147%;
  top: 54.4034363017%;
  animation-delay: -3s;
}
.allbub .bub31 {
  position: absolute;
  left: 98.5866879514%;
  top: -14.5332823247%;
  animation-delay: -3.1s;
}
.allbub .bub32 {
  position: absolute;
  left: 29.9225229365%;
  top: -19.9675365034%;
  animation-delay: -3.2s;
}
.allbub .bub33 {
  position: absolute;
  left: 6.7855019035%;
  top: 25.5984670191%;
  animation-delay: -3.3s;
}
.allbub .bub34 {
  position: absolute;
  left: 19.0297122214%;
  top: 59.137780401%;
  animation-delay: -3.4s;
}
.allbub .bub35 {
  position: absolute;
  left: 3.2112038595%;
  top: 78.2898249285%;
  animation-delay: -3.5s;
}

@keyframes back {
  0% {
    background-color: #187cf2;
  }
  20% {
    background-color: #7c9ef2;
  }
  40% {
    background-color: #7cf2e9;
  }
  60% {
    background-color: #a6f27c;
  }
  80% {
    background-color: #f2c17c;
  }
  100% {
    background-color: #187cf2;
  }
}
.allbub {
  animation: back 8s infinite;
}

@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.icon {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  background: linear-gradient(to bottom, #11055F 20%, #7D74B2 90%);
  border-radius: 20px;
  box-shadow: 12px 8px 8px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}

.water {
  position: absolute;
  bottom: 0;
  background: rgba(45, 92, 175, 0.4);
  width: 500px;
  z-index: 0;
}

.wave1 {
  height: 152px;
  border-top-right-radius: 100% 0px;
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.wave2 {
  height: 159px;
  border-top-right-radius: 100% 5px;
  border-top-left-radius: 100% 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.wave3 {
  height: 145px;
  border-top-right-radius: 100% 10px;
  border-top-left-radius: 100% -20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.corpus {
  position: absolute;
  transform: rotate(135deg);
}

.fire {
  position: absolute;
  left: 47.5%;
  top: 50%;
  width: 23px;
  height: 23px;
  background: linear-gradient(to bottom, #FC6600 20%, #FCCA00 90%);
  border-radius: 7px;
  z-index: 3;
}

.fire-inner {
  position: absolute;
  left: -10px;
  top: 58%;
  width: 5px;
  height: 5px;
  background: linear-gradient(to bottom, #FC6600 20%, #FCCA00 90%);
  border-radius: 5px;
  z-index: 2;
  animation: gg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes gg {
  to {
    transform: scale(0.75) translate(-8px, 5px);
  }
}
.fire-left {
  position: absolute;
  left: 6px;
  top: 90%;
  width: 4px;
  height: 4px;
  background: linear-gradient(to bottom, #FC6600 20%, #FCCA00 90%);
  border-radius: 5px;
  z-index: 2;
  animation: gg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0.8s;
}
@keyframes gg {
  to {
    transform: scale(0.75) translate(-8px, 5px);
  }
}
.land {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%, -182%);
  background: linear-gradient(to bottom, #007B50 25%, #D29624 80%);
  border-radius: 50% 50% 0 0 /100% 100% 0 0;
  width: 220px;
  height: 80px;
  z-index: 1;
}

.grass {
  position: absolute;
  left: 50%;
  bottom: 95px;
  transform: translate(-50%, 16%);
  background: linear-gradient(to top, #018500 25%, #DA9A2C 70%);
  border-radius: 0 0 50% 50% /0 0 100% 100%;
  width: 220px;
  height: 70px;
  z-index: -2;
}

.g5 {
  position: absolute;
  transform: rotate(10deg);
  left: 45%;
  top: 44%;
  height: 50px;
  width: 48px;
  background: transparent;
  border-top: 0px solid #88410B;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #572A08;
  border-left: 5px solid transparent;
  z-index: 2;
}

.g6 {
  position: absolute;
  transform: rotate(350deg);
  left: 43%;
  top: 44%;
  height: 50px;
  width: 49px;
  background: transparent;
  border-top: 0px solid #673209;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #773A0B;
  border-left: 5px solid transparent;
  z-index: 4;
}

.g7 {
  position: absolute;
  transform: rotate(90deg);
  left: 52.5%;
  top: 50.5%;
  height: 40px;
  width: 12px;
  background: transparent;
  border-top: 0px solid #88410B;
  border-right: 2px solid transparent;
  border-bottom: 5px solid #88410B;
  border-left: 2px solid transparent;
  z-index: 2;
}

.g2 {
  position: absolute;
  transform: rotate(10deg);
  left: 45%;
  top: 72%;
  height: 50px;
  width: 48px;
  background: transparent;
  border-top: 0px solid #88410B;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #572A08;
  border-left: 5px solid transparent;
  z-index: -1;
}

.g3 {
  position: absolute;
  transform: rotate(350deg);
  left: 43%;
  top: 72%;
  height: 50px;
  width: 49px;
  background: transparent;
  border-top: 0px solid #88410B;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #572A08;
  border-left: 5px solid transparent;
  z-index: -1;
}

.g4 {
  position: absolute;
  transform: rotate(270deg);
  left: 44.5%;
  top: 78%;
  height: 40px;
  width: 12px;
  background: transparent;
  border-top: 0px solid #88410B;
  border-right: 2px solid transparent;
  border-bottom: 5px solid #88410B;
  border-left: 2px solid transparent;
  z-index: -1;
}

.night {
  height: 350px;
  border-top-right-radius: 100% 5px;
  border-top-left-radius: 100% 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.stars {
  position: relative;
  width: 100%;
  height: 100%;
}

.stars span {
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  transform: rotate(50deg);
  /* 使星星模糊一点 */
  opacity: 0.2;
  /* 动画名称 动画时间  速度  开始时间 次数 */
  animation: blinking 1s linear var(--d) infinite;
}

@keyframes blinking {
  0%,100% {
    opacity: 0.2;
  }
  50% {
    /* 星星大小放大 1.5倍 ，旋转45度成菱形 */
    transform: scale(1.3) rotate(45deg);
    opacity: 1;
  }
}
.stars span:nth-child(1) {
  top: 10%;
  left: 12%;
  --d: 12.7s;
}

.stars span:nth-child(2) {
  top: 20%;
  left: 20%;
}

.stars span:nth-child(3) {
  top: 30%;
  left: 30%;
  --d: 5.1s;
}

.stars span:nth-child(4) {
  top: 10%;
  margin-left: 40%;
  --d: 4.1s;
}

.stars span:nth-child(5) {
  top: 40%;
  left: 60%;
  --d: 7.1s;
}

.stars span:nth-child(6) {
  top: 30%;
  left: 80%;
  --d: 5.4s;
}

.stars span:nth-child(7) {
  top: 40%;
  left: 20%;
  --d: 8.7s;
}

.stars span:nth-child(8) {
  top: 50%;
  left: 40%;
  --d: 13.3s;
}

.stars span:nth-child(9) {
  top: 60%;
  left: 70%;
  --d: 14.1s;
}

.stars span:nth-child(10) {
  top: 80%;
  left: 50%;
  --d: 11.1s;
}

.stars span:nth-child(11) {
  top: 75%;
  left: 23%;
  --d: 19.2s;
}

.stars span:nth-child(12) {
  top: 52%;
  left: 4%;
}

.stars span:nth-child(13) {
  top: 36%;
  left: 26%;
  --d: 2.7s;
}

.stars span:nth-child(14) {
  top: 93%;
  left: 18%;
  --d: 3.1s;
}

.stars span:nth-child(15) {
  top: 58%;
  left: 68%;
  --d: 2.6s;
}

.stars span:nth-child(16) {
  top: 64%;
  left: 86%;
  --d: 1.5s;
}

.stars span:nth-child(17) {
  top: 6%;
  left: 78%;
  --d: 3.5s;
}

.stars span:nth-child(18) {
  top: 13%;
  left: 58%;
  --d: 5.7s;
}

.stars span:nth-child(19) {
  top: 50%;
  left: 50%;
  --d: 6.7s;
}

.stars span:nth-child(20) {
  top: 88%;
  left: 88%;
  --d: 7s;
}

.tree {
  position: absolute;
  width: 30px;
  height: 20px;
  left: 54%;
  top: 51.1%;
  border-radius: 5px 15x 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: #824B19;
  z-index: -3;
}

.t1 {
  position: absolute;
  width: 26px;
  height: 20px;
  left: 54%;
  top: 46.4%;
  border-radius: 5px 15x 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: #824B19;
  z-index: 0;
}

.t2 {
  position: absolute;
  width: 22px;
  height: 19px;
  left: 53.5%;
  top: 41.9%;
  border-radius: 5px 15x 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: #824B19;
  z-index: 0;
}

.t3 {
  position: absolute;
  width: 19px;
  height: 17px;
  left: 52.7%;
  top: 38%;
  border-radius: 5px 15x 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: #824B19;
  z-index: 0;
}

.t4 {
  position: absolute;
  transform: rotate(26deg);
  left: 52%;
  bottom: 58%;
  background: #00741B;
  border-radius: 50% 50% 0 0 /100% 100% 0 0;
  width: 90px;
  height: 25px;
  z-index: 0;
}

.t5 {
  position: absolute;
  transform: rotate(-30deg);
  left: 51%;
  bottom: 65.5%;
  background: #145F00;
  border-radius: 50% 50% 0 0 /100% 100% 0 0;
  width: 80px;
  height: 24px;
  z-index: 0;
}

.t6 {
  position: absolute;
  transform: rotate(20deg);
  left: 42%;
  bottom: 64%;
  background: #145F00;
  border-radius: 50% 50% 0 0 /100% 100% 0 0;
  width: 80px;
  height: 22px;
  z-index: 0;
}

.t7 {
  position: absolute;
  transform: rotate(-30deg);
  left: 40%;
  bottom: 58%;
  background: #00741B;
  border-radius: 50% 50% 0 0 /100% 100% 0 0;
  width: 90px;
  height: 25px;
  z-index: 0;
}

.t8 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #DBCB70 30%, #B6A542 80%);
  left: 250px;
  position: absolute;
  top: 190px;
}

.t9 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #DBCB70 30%, #B6A542 80%);
  left: 267px;
  position: absolute;
  top: 192px;
}

.fish {
  position: absolute;
  z-index: -1;
  width: 70px;
  height: 70px;
  animation: fish;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternat;
}
@keyframes fish {
  0%,
    100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    left: 25px;
  }
  100% {
    left: 120px;
  }
}
.f1 {
  position: absolute;
  transform: rotate(45deg);
  background: #A8C0C3;
  left: 51px;
  top: 89px;
  height: 15px;
  width: 15px;
  border-radius: 100px 35px 100px 0px;
  -webkit-border-radius: 100px 35px 100px 0px;
  -moz-border-radius: 100px 35px 100px 0px;
  z-index: -1;
}

.f2 {
  position: absolute;
  transform: rotate(90deg);
  background: #A8C0C3;
  left: 40px;
  top: 91px;
  height: 0px;
  width: 0px;
  background: transparent;
  border-bottom: 8px solid #A8C0C3;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  z-index: -1;
}

.f3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFFFFF;
  left: 59px;
  top: 93px;
  position: absolute;
  z-index: -1;
}

.f4 {
  position: absolute;
  transform: rotate(45deg);
  background: #A8C0C3;
  left: 101px;
  top: 119px;
  height: 15px;
  width: 15px;
  border-radius: 100px 35px 100px 0px;
  -webkit-border-radius: 100px 35px 100px 0px;
  -moz-border-radius: 100px 35px 100px 0px;
  z-index: -1;
}

.f5 {
  position: absolute;
  transform: rotate(90deg);
  background: #A8C0C3;
  left: 90px;
  top: 121px;
  height: 0px;
  width: 0px;
  background: transparent;
  border-bottom: 8px solid #A8C0C3;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  z-index: -1;
}

.f6 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFFFFF;
  left: 109px;
  top: 123px;
  position: absolute;
  z-index: -1;
}